# Visual Studio related files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
out/

# Including NuGet Packages
packages/
*.nupkg
*.lock.json

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Node.js folders
node_modules/

# Logs and databases
*.log
*.sql
*.sqlite
*.db

# IDE configuration files
*.vscode/
*.idea/

# Other system files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temporary files
*.tmp
*.temp
*.log